export HTTP_HOST="0.0.0.0"
export HTTP_PORT="5000"
export MONGO_DBNAME="userdb"
export MONGO_COLLECTION="users"
export MONGO_USERDB_WEBUSER="webuser"
export MONGO_USERDB_WEBPASS="webpass"
export MONGO_URL="mongodb://${MONGO_USERDB_WEBUSER}:${MONGO_USERDB_WEBPASS}@mongo:27017/${MONGO_DBNAME}?useNewUrlParser=true&useUnifiedTopology=true"
export MONGO_INITDB_ROOT_USERNAME="root"
export MONGO_INITDB_ROOT_PASSWORD="secret"
export MONGO_INITDB_DATABASE="userdb"